body {
    background-image: url(../images/background.jpg);
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-size: 3em;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

#total-container {
}

#main-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#top-background {
    background-image: url(../images/background0.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
}

#prof-background {
    background-image: url(../images/background1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
}

#creative-background {
    background-image: url(../images/background2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
}

#top-cont {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgba(149,185,201,0.8);
    background-color: rgba(12,36,74,0.8);
}

#top-box {
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: aliceblue;
    padding: 30px;
    border-radius: 20px;
    height: 50vh;
    margin-top: 20vh;
    margin-bottom: 30vh;
}


#top-box img {
    margin: auto;
    justify-content: center;
}

#top-box h2{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

#top-box p {
    width: 60%;
    margin: 0 20%;
    
    padding: 10px;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    padding: 5px;
}

.main-butt {
    padding: 10px;
    font-size: 1.5em;
    background-color: #95B9C9;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}

#professional {
    background-color: rgba(12,36,74,0.8);
    color: aliceblue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#professional img {
    margin: 0 25%;
    width: 50%;
}

#professional a {
    width: 100%;
}

#professional .main-butt {
    width: 30%;
    margin: 30px 35%;
}

#creative-container {
    background-image: url(../images/creative.jpg);
   
}

#creative {
    background-color: rgba(12,36,74,0.8);
    height: 100vh;
    color: aliceblue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#creative a {
    width: 100%;
}
#creative img {
    margin: 0 25%;
    width: 50%;
}

#creative .main-butt {
    width: 30%;
    margin: 30px 35%;
}

.content {
    margin: auto;
    width: 70%;
    min-height: 50vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(30, 30, 30, 0.8);
    padding: 30px;
    border-radius: 20px;
}

.content ul {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.content li {
    font-size: 1.2em;
}

.content li p {
    padding: 5px;
    font-size: 0.9em;
    color: #999;
}